
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}


@media (max-width: 900px) {
  .header {
    padding: 16px 25px;
  }
  .header__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .header__wrapper__logo {
    display: none;
  }
}

@media (max-width: 510px) {
  .header {
    padding: 16px 25px;
  }
  .header__wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
  .header__wrapper__logo {
    display: none;
  }
}
